#clock{
    padding:calc(315px - 220px);
    display: table-cell;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right:auto; 
    vertical-align:middle;
    margin-top: calc(50vh - 315px);
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}
body{
    background: #fff;
}
#second{
    transform-origin: 265.99px 249.98px;  
    animation: secondrot 0.8s infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
#timering{
    /* transform-origin: 265.36158752441406px 250.17584228515625px;  
    animation: secondrot 3s infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear; */
}

#secondrim{
    stroke-dasharray: 1186.996;
    stroke-dashoffset: -1186.996;
}
#mainrim{
    /* transform-origin: 328.97441295075447px 184.5721170823108px;   */
    stroke-dasharray: 916.97;
    stroke-dashoffset: -916.97;

}
#minute{
    /* transform-origin: 280.39882531398143px 296.5577312876722px;   */
    stroke-dasharray: 1037;
    stroke-dashoffset: -1037;
    /* transform: rotate(-90deg); */
}
@keyframes secondrot{
    0%{
        
        transform: rotate(0deg);

    }
    100%{
        
        transform: rotate(360deg);
    }
}